@use 'variables';

 .cover-target{
    img{
        width: 110%;
        transition: all 300ms;
    }
 }

 .targets{
    p{
        font-size: 14px;
        margin-top: 20px;
        color: variables.$color-text-font;
        text-align: justify;
        background: none;
    }

    h2{
        font-size: 20px;
        color: variables.$color-text-font;
        text-align: center;
        margin-top: 20px;
        background: none;
    }
 }
 .text-information{
    h1{
        
        font-size: 45px;
    }
    ul{
        margin-top: 20px;
    }
    ion-icon {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        color: variables.$icon-main;
    }
    li{
        margin-left: 20px;
        font-size: 19px;
        list-style: none;
    }
 }

 .gif-cover{
    img{
        margin-left: 10px;
        width: 90%;
        margin-top: 30px;

    }
 }

 .text-article{
    h2{
        font-weight: bold;
        margin-top: 50px;
        text-align: center;
        background-color: variables.$color-article;
    }
    p{
        padding: 20px;
        margin-top: 30px;
        font-size: 21px;
        justify-content: center;
        background-color: variables.$color-article;
        
    }
 }
 .gps-gif{
    img{
        width: 100%;
        opacity: 0.7;
    }
 }


.caja-contenedor{
    ion-icon{
        width: 75px;
        height: 75px;
        color: variables.$icon-target-color;
        transition: all 300ms;
    }
    h2{
        margin-top: 10px;
        text-align: center;
    }
    p{
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
    }

    ion-icon:hover{
        transform: scale(1.1);
        color: variables.$color-text-font;
    }
}


 